/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #ffffff;
  background-color:#E9EBE8!important;
}
.footer {
  /*position: absolute;  comentado igh*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 10px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


.navbar-header .navbar-brand {
	color: white;
	color: #00b3fe;
}


/* Estilos personalizados*/
.footter21 { /*Estilo personalizado para el footer*/
background-color: #00A6CA;
padding-top:5px;
font-family: Conv_Futura-T-OT-Book;
font-size: 1.2em;
color:#ffffff;


}

.show { /*Contenedor principal en donde se mostrara toda la parte dinamica*/
  /*padding-right: 15px;
  padding-left: 15px;*/
  margin-right: auto;
  margin-left: auto;
  margin-top: -10px;
  background-color: #ffffff;
  height: 600px;
  background-image: url("../img/fondo_soles_grises.png");

  background-repeat: no-repeat;
  background-position: bottom left;
  margin-left: -15px;
}


/* estilos web components */
.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}


.NotFound {
  padding-top: 100px;
  text-align: center;
}


@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

}