/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 10px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.col-lg-4-fondo { /*Estilo personalizado para el footer*/
  font-family: Conv_Futura-T-OT-Book;
  font-size: 1.2em;
  color:#ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 130px;
  background-image:url("../img/ceiba_blanca_pequeña.png");
  background-size: 100px 100px;
  background-position: 0px 10px;
  background-repeat: no-repeat;
  line-height: normal;
  

}

.show { /*Contenedor principal en donde se mostrara toda la parte dinamica*/
  /*padding-right: 15px;
  padding-left: 15px;*/
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  background-color: #ffffff;
  height: 601px;
  background-image: url("../img/fondo_soles_grises.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  margin-left: -15px;
}